infra/traefik/.env
infra/dns/.env
demo/stack/api/.env
demo/stack/frontend/.env
node_modules/
infra/traefik/dynamic/*.yml
!infra/traefik/dynamic/dashboard.yml
.ingressctl/stacks/*.json
demo/stack/api/node_modules/
demo/stack/frontend/node_modules/
.idea